//  colors
$primary         : #FF6B06;
$primary-dark    : #E55D00;
$primary-light   : #FB9753;
$secondary       : #3A3F63;
$secondary-dark  : #292E4A;
$secondary-darken: #2C2C2C;
$gray            : #F5F5FA;
$gray-dark       : #E6E6EF;
$color-white     : #fff;


// responsive
$widescreen: 1279px;
$tablet    : 1023px;
$mobile    : 767px;