-
  var steps = [
    {img: 'icon-load.svg', text: 'Загрузите книгу в формате docx, epub или f82'},
    {img: 'icon-pause.svg', text: 'Расставьте паузы и ударения, если это потребуется  '},
    {img: 'icon-settings.svg', text: 'Настройте желаемый голос'},
    {img: 'icon-book.svg', text: 'Книга опубликуется в магазинах и начнет приносить вам прибыль'},
  ]

  var suit = [
    {img: 'suit-icon-1.svg', text: 'Одноголосная озвучка'},
    {img: 'suit-icon-2.svg', text: 'Многоголосная озвучка'},
    {img: 'suit-icon-3.svg', text: 'Non-fiction литература'},
    {img: 'suit-icon-4.svg', text: 'Эмоциональная озвучка'},
  ]