-
  var steps = [
    {img: '', text: 'Загрузите книгу в формате docx, epub или f82'},
    {img: '', text: 'Расставьте паузы и ударения, если это потребуется  '},
    {img: '', text: 'Настройте желаемый голос'},
    {img: '', text: 'Книга опубликуется в магазинах и начнет приносить вам прибыль'},
  ]

  var suit = [
    {img: '', text: 'Одноголосная озвучка'},
    {img: '', text: 'Многоголосная озвучка'},
    {img: '', text: 'Non-fiction литература'},
    {img: '', text: 'Эмоциональная озвучка'},
  ]