doctype html
html(lang="ru")
  include partials/head.pug
  body

    //header
    header.header
      .container.section-container

    //top-sections
    section.section.top-sections
      .container.section-container

    //publish-section
    section.section.publish-section
      .container.section-container

    //trend-section
    section.section.trend-section
      .container.section-container

    //benefit-section
    section.section.benefit-section
      .container.section-container

    //features-section
    section.section.features-section
      .container.section-container

    //suit-section
    section.section.suit-section
      .container.section-container

    //features-section
    section.section.features-section
      .container.section-container

    //offer-section
    section.section.offer-section
      .container.section-container

    //footer
    footer.footer
      .container.section-container


    include partials/scripts.pug
