doctype html
html(lang="ru")
  include partials/head.pug
  include partials/vars.pug
  body

    //header
    header.header
      .container.section-container
        .row
          .col.col-50
            a.header-logo(href="#")
              img(src="images/logo.svg" alt="Logo")
          .col.col-50
            button.header-button.btn Вход

    //top-sections
    section.section.top-section
      .container.section-container
        .top-section-slider.swiper-container.js-top-slider
          .swiper-wrapper
            each i in ['9500','1500','2500','3000']
              .swiper-slide.top-section-slide
                p.top-section-title Издайте свою аудиокнигу за #[=i] рублей и 15 минут
          button.top-section-button.btn Создать аудиокнигу
          .swiper-pagination


        .top-section-steps.steps
          .steps-list
            .row
              each item in steps
                .col.col-25.col-m-100
                  .steps-item
                    img.steps-item-img(src="images/"+item.img alt="")
                    .steps-item-text=item.text

        .top-section-audio.top-audio
          h2.top-audio-title Ваша аудиокнига может звучать так
          .top-audio-player
            img(src="images/player.png", alt="")

    //publish-section
    section.section.publish-section
      .container.section-container
        h2.section-title Опубликуйте вашу книгу в магазинах бесплатно
        p.section-subtitle Мы сами разместим вашу аудиокнигу в крупнейших магазинах бесплатно
        .publish-section-slider.swiper-container.js-publish-slider
          .swiper-wrapper
            each i in ['shop-slider-1.png', 'shop-slider-2.png', 'shop-slider-3.png', 'shop-slider-4.png']
              .publish-section-slide.swiper-slide
                img(src='images/'+i, alt="")
          .swiper-button-prev
          .swiper-button-next
        button.publish-section-button.btn Начать работу прямо сейчас

    //trend-section
    section.section.trend-section
      .container.section-container
        .section-title Аудиокниги — новый нарастающий тренд в ритейле
        .section-subtitle Ежедневно люди ищут возможности и время на получение ценного контента

        .trend-section-statistics
          span.trend-section-percent 40%
          span.trend-section-text рост рынка аудиокниг в год *
          a.trend-section-link(href="#") *по данным «Эксмо-АСТ»


    //benefit-section
    section.section.benefit-section
      .container.section-container
        .section-title Speechki — это выгодно
        .row
          .col.col-50.col-m-100
            .benefit-item.benefit-item-dark
              img.benefit-item-img(src="" alt="")
              p.benefit-item-title Аудиокнига, созданная человеком
              div.benefit-item-text
                p — Стоимость около 170 000 рублей
                p — Готовность 1 месяц
                p — Сложный, неоднозначный процесс до публикации в магазинах.
              button.benefit-item-button Долго и не выгодно
          .col.col-50.col-m-100
            .benefit-item
              img.benefit-item-img(src="" alt="")
              p.benefit-item-title Аудиокнига, созданная искусственным интеллектом
              div.benefit-item-text
                p — Стоимость 9 500 рулей
                p — Моментальная готовность
                p — Элементарный процесс от создания до начала заработка
              button.benefit-item-button Создать свою аудиокнигу


    //features-section
    section.section.features-section
      .container.section-container
        .features-item
          .row
            .col.col-50.col-m-100
              img.features-item-img(src="images/man-with-dollars.svg" alt="")
            .col.col-50.col-m-100
              p.features-item-title Зарабатывайте на аудиокнигах
              p.features-item-text Мы ежемесячно выплачиваем вам вознаграждение.Вы отслеживаете статистику по продажам на всех платформах в одном месте

        .features-item
          .row
            .col.col-50.col-m-100
              p.features-item-title Все права остаются у вас
              p.features-item-text Вы самостоятельно распоряжаетесь своим прозведением и можете распространять его любыми доступными вам способами
            .col.col-50.col-m-100
              img.features-item-img(src="images/man-with-rights.svg" alt="")


    //suit-section
    section.section.suit-section
      .container.section-container
        h2.section-title Кому мы подходим
        .suit-grid
          .row
            each item in suit
              .col.col-25.col-t-50.col-m-100
                .suit-item
                  .suit-item-img
                    img(src='images/'+item.img alt=item.text)
                  span.suit-item-text=item.text
        button.suit-section-button.btn Начать работу прямо сейчас

    //features-section
    section.section.features-section
      .container.section-container
        .features-item
          .row
            .col.col-40.col-t-50.col-m-100.m-left-1
              p.features-item-title Удобный и простой интерфейс
              .features-item-text
                p Просматривайте книгу в электронном виде.
                p Редактируйте предложения и фразы.
                p Проверяйте получившийся результат в реальном времени.
            .col.col-50.col-m-100
              img.features-item-img(src="./images/window-1.png" alt="")

        .features-item
          .row
            .col.col-50.col-m-100.order-t-2
              img.features-item-img(src="./images/window-2.png" alt="")
            .col.col-40.col-t-50.col-m-100.order-t-1
              p.features-item-title Анализируйте продажи
              p.features-item-text Вы можете просматривать аналитику продажи вашей книги в реальном времени.
    //offer-section
    section.section.offer-section
      .container.section-container
        h2.offer-section-title Начни прямо сейчас
        p.offer-section-title Издайте свою аудиокнигу за 9 500 рублей и 15 минут
        p.offer-section-text Отправьте заявку на получение информации об открытии сервиса и получите закрытый доступ к тестированию личного кабинета первым! Первым 100 авторам дарим специальные условия по работе с сервисом!
        button.offer-section-button.btn Начать сейчас
        p.offer-section-tip *Сервис начинает свою работу #[span 18.08.2019]

    //footer
    footer.footer
      .container.section-container
        .row
          .col.col-50.col-m-100
            .footer-logo
              img(src="" alt="")
            a.footer-confidential(href="#") Политика конфиденциальности
          .col.col-50.col-m-100
            .footer-contacts
              a(href="mailto:hello@speechki.org")


    include partials/scripts.pug
