@import 'base/vars.scss';
@import 'base/grid.scss';

/* base */
body {box-sizing: border-box; font-size: 16px; margin: 0;}
* {box-sizing: inherit;}

.container {padding-left: 25px; padding-right: 25px; margin-left: auto;
  margin-right: auto; width: 100%; max-width: 1465px;}

a {color: $primary;
  &:hover {color: $primary-dark;}
  &:active {color: $primary-light;}
}

img {max-width: 100%;}

.btn {background-color: $primary; color: #fff; cursor: pointer; border: none;
  border-radius: 5px; padding: 13px 23px; font-size: 1rem; transition: .2s all;
  display: inline-block;
  &:hover {background-color: $primary-dark;}
  &:active {background-color: $primary-dark;}
  &[disabled] {opacity: .5;}

  &-block {display: block;}
}

/* header */
.header {background-color: $secondary; padding: 20px 0;
  .row {align-items: center;}
  &-button {margin-left: auto; display: block; padding: 14px 50px;}
}

/* top-sections */

/* publish-section */

/* trend-section */

/* benefit-section */

/* features-section */

/* suit-section */

/* features-section */

/* offer-section */

/* footer */



